<%# comentario %>
    <!-- usado para incluir arquivos -->
    <%- include('includes/head.ejs'); %>
        <section class="container">
            <form action="/" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                <label>Cliente</label>
                <input type="text" name="cliente">
                <button type="submit">enviar</button>
            </form>
        </section>

        <%- include('includes/footer.ejs'); %>