<%- include('includes/head') %>
    <%- include('includes/navBar') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Password</h1>
                    <p class="text-center lead">Senhas cadastradas</p>

                    <div class="responsive-table">
                        <table class="table my-3">
                            <tr>
                                <td>www.google.com.br</td>
                                <td>loginGmail</td>
                                <td>senhaGmail</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-2">

                </div>
            </div>
        </div>
        <%- include('includes/footer') %>